# 构建产物(由 build-msi.sh 生成,勿提交)
*.exe
*.msi
install-windows.cmd
docker-compose.yaml
readme.txt
docker/wix311-binaries.zip
docker/wine-mono-x86.msi

# WiX 中间产物(容器内 /tmp 编译,勿提交)
*.wixobj
*.wixpdb
product.gen.wxs

# MSI 表导出(msiinfo dump 副产物,勿提交)
*.idt
